@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  background: #020617;
}

/* Moving Star Background */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image:
    radial-gradient(2px 2px at 10% 20%, white, transparent),
    radial-gradient(2px 2px at 20% 70%, white, transparent),
    radial-gradient(1px 1px at 30% 40%, white, transparent),
    radial-gradient(2px 2px at 40% 90%, white, transparent),
    radial-gradient(1px 1px at 50% 10%, white, transparent),
    radial-gradient(2px 2px at 60% 60%, white, transparent),
    radial-gradient(1px 1px at 70% 30%, white, transparent),
    radial-gradient(2px 2px at 80% 80%, white, transparent),
    radial-gradient(1px 1px at 90% 50%, white, transparent);

  background-repeat: repeat;
  background-size: 300px 300px;

  opacity: 0.8;
  animation: starsMove 60s linear infinite;
}

@keyframes starsMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-300px);
  }
}

/* Smooth Hover Effects */

* {
  transition: all 0.3s ease;
}

.bg-zinc-900:hover {
  transform: translateY(-8px);
}

img:hover {
  transform: scale(1.05);
}

section {
  animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}